*{
    padding: 0%;
    margin: 0%;
}

.formbody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(245, 211, 231);
  /* background-image: url(/public/still.png); */
  background-position: center;
  position: relative;
  background-size: cover;
  padding: 100px;
  /* margin-left: 30px; */
  /* opacity: 0.5; */
}

.logo-img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 60px;
}

/* body {
  margin: 0;
  font-family: Arial, sans-serif;
} */

nav{
  font-family: Arial,  sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #420342;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1000;
}

.navbar-nav{
  list-style-type: none;
  display: flex;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  /* display: flex; */
  justify-content: center;
  /* margin-top: -90px; */
}

.navbar-left {
  display: flex;
}

.nav-link {
  margin-right: 3rem;
  list-style-type: none;
}

.container {
  margin-top: 40px;
  width: 400px;
  background-color: #f4f4f4;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.content {
  margin-top: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: -12px;
  box-shadow: #007bff;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.regbtn {
  width: 105%;
  background-color: rgb(37, 3, 68);
  color: white;
  padding: 14px 20px;
  border: none;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  margin-left: -11px;
  font-weight: bolder;
}

.regbtn:hover {
  background-color: rgb(63, 8, 109);
} 

.gender {
  display: flex;
  align-items: center;
}

.gender label {
  margin-right: 35px;
}


/* .formbody { */
    /* font-family: Arial, sans-serif; */
    /* margin: 0 !important;
    padding: 0 imo !important;
    background-image: url(/public/form3.avif); */
    /* position: relative; */
    /* background-color: rgb(112, 15, 112); */
    /* background-position: top;
    background-size: cover; */
    /* background: rgba(216, 247, 216, 0.3); */
    /* opacity: 0.5; */
   
    /* padding: 2rem; */
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
/* } */

/* body::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
} */
/* bodycont{
    position:relative;
    z-index: 1;
} */

/* .container { */
    /* border: 2px blueviolet dotted; */
    /* padding: 80px; */
    /* max-width: 400px;
    margin-top: 50px;
    margin-left: 33%;
    margin-bottom: 50px; */
    /* margin: 100px auto; */
    /* padding: 50px;
    background-color: #fff;
    border-radius: 5px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
/* }

.header h1 {
    text-align: center;
    justify-content: center;
    display: flex;
}

.content {
    padding: 20px 0;
}

.form-group {
    margin-bottom: 20px;
    font-weight: bold;
}

label {
    margin-top: 20px;
    display: block;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: #007bff;
}

.gender{
    display: flex;
    border: 1px solid #ccc;
    width: 35px;
    /* margin-top: 80px; */
/* } */

/* button {
    display: block;
    width: 105.4%;
    padding: 10px;
    margin-top: 30px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(36, 3, 67);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(63, 8, 109);
} */ 


/* .h1{
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.input{

} */


/* Table.css */
.tablebody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f2f2f2; */
    /* background-image: url(/public/form.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background: rgb(167,168,175);
    background: radial-gradient(circle, rgba(167,168,175,1) 0%, rgba(110,8,29,1) 100%); */
  }
  
  .list{
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }
  
  .containerTable {
    /* margin-top: 90px; */
    max-width: 800px;
    margin: 50px auto;
    /* background-color: #fff; */
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
  }
  
  .employee-list {
    padding: 20px;
  }
  
  table {
    /* text-align: center; */
    margin-top: 40px;
    width: 140%;
    margin-left: -160px;
    /* border: 1px 1px 1px 1px solid ; */
    /* border-collapse: collapse; */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  table, th, td{
    border: 1px solid violet;
  }

  td{
    text-align: left;
    background-color: #fff;
  }
  
  th,td {
    padding: 15px;
    /* text-align: left; */
    /* border-bottom: 1px solid #ddd; */
  }
  
  thead {
    background-color: #041c36;
    color: white;
  }

  /* Styling for icon buttons */
.icon-button {
  padding: 5px;
  cursor: pointer;
  border: none;
  font-size: 25px;
  display: flex;
  display: inline;
  background-color: transparent;
  color: #333;
}

.icon-button:hover {
  color: #007bff; /* Change color on hover */
}

/* .spinner-spinner {
  width: 60px;
  height: 60px;
  border: 8px solid rgba(255, 255, 255, 0.3); 
  border-top-color: #ffffff;
} */

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.spinner-load {
  width: 60px;
  height: 60px;
  border: 8px solid rgba(255, 255, 255, 0.3); 
  border-top-color: #ffffff; 
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

.dailog {
  position: absolute;
  top: 300px;
  padding: 30px;
  border-radius: 7px;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  border: none;
  box-shadow: 0 4px 6px #ebb851;
}

  
  /* tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  /* .delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  .backbtn{
    width: 70px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: whitesmoke;
    margin-top: 25px;
    background-color: rgb(43, 6, 78);
  }
   */
