*{
    padding: 0%;
    margin: 0%;
}

.formbody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: rgb(245, 211, 231); */
  /* background-image: url(/public/still.png); */
  background-position: center;
  position: relative;
  background-size: cover;
  padding: 100px;
  font-family: Arial, sans-serif;
  /* margin-left: 30px; */
  /* opacity: 0.5; */
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


/* .form{
  margin-top: 100px;
} */

.logo-img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 60px;
}

/* body {
  margin: 0;
  font-family: Arial, sans-serif;
} */

nav{
  font-family: Arial,  sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e7ec;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  height: 30px;
  color: black;
  top: 0;
  z-index: 1000;
  box-shadow: black;
}

.navbar-nav{
  list-style-type: none;
  display: flex;
}

.navbar a {
  /* color: #fff; */
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.navbar-left {
  display: flex;
}

.styled-pipe {
  font-size: 20px;
  /* margin-right: 1rem; */
  /* margin-left: 1rem; */
  /* color: #f4f7f4; */
  /* border: 2px solid #4CAF50; */
  /* padding: 10px 20px; */
  /* border-radius: 15px; */
  /* background-color: #fff; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.nav-link {
  /* margin-right: 1.5rem; */
  list-style-type: none;
  font-weight: bold;
  color: black;
}

.nav-del{
  margin-left: 5rem;
  margin-top: 5px;
  color: black;
}

.nav-edit{
  margin-right: 9rem;
  margin-top: 5px;
}

.container {
  margin-top: -50px;
  width: 600px;
  background-color: #f4f4f4;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  text-align: left;
  margin-bottom: 20px;
  margin-top: -38px;
  font-size: 25px;
}

.content {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

.input{
  width: 100%;
  height: 25px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: -12px;
  box-shadow: #007bff;
  border: 2px solid rgb(189, 186, 186);
  outline: none;
  /* display: flex; */
  /* margin-top: 10px; */
}

.emp{
  display: flex;
  float: center;
  gap: 90px;
}

.idn{
  width: 100%;
}

.add{
  display: flex;
  width: 255px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  /* margin-left: 125px; */
  box-shadow: #007bff;
  border: 2px solid rgb(189, 186, 186);
  /* margin-top: -20px; */
}

.address{
  /* display: flex; */
  margin-left: 335px !important;
  margin-top: -85px;
}

/* .formrdio{
  width: 100%;
} */

.contact{
  display: flex;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 

.gender {
  display: flex;
  /* align-items: center; */
  /* width: 20%; */
  flex-direction: row;
  margin-left: -140px;
  margin-top: 30px;
}

.gender label {
  margin-right: 25px;
  margin-left: 5px;
  margin-top: 4px;
  /* flex-direction: column; */
  /* display: flex; */
}

.gen{
  display: flex;
  /* gap: 20px; */
}
.id{
  width: 50%;
  margin-left: 23%;
}

.regbtn {
  width: 20%;
  background-color: rgb(17, 180, 192);
  color: white;
  padding: 14px 20px;
  border: none;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 500px;
  font-weight: bolder;
  /* align-self: right; */
}

.regbtn:hover {
  background-color: rgb(63, 8, 109);
}




/* Table.css */
.tablebody {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.list {
  justify-content: center;
  /* display: flex; */
  margin-top: 120px;
  text-align: center;
}

.containerTable {
  width: 90%;
  max-width: 1200px;
  margin-top: -300px;
  /* margin: 20px auto; Center the container horizontally */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
  overflow-x: auto; /* Allow horizontal scrolling if table exceeds container width */
}

.table {
  width: 100%;
  border-collapse: collapse;
  /* margin-top: 20px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: center;
}

thead {
  background-color: #041c36;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #dddcdc;
}

tbody tr:nth-child(odd) {
  background-color: #e9e8e8;
}

.btned {
  display: flex;
  gap: 10px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 25px;
  color: rgb(77, 76, 76);
}

.icon-button:hover {
  color: #007bff;
}

.con {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 20px;
}


.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.spinner-load {
  width: 60px;
  height: 60px;
  border: 8px solid rgba(255, 255, 255, 0.3); 
  border-top-color: #ffffff; 
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.dailog {
  position: absolute;
  position: fixed;
  margin-top: -170px;
  /* top: 300px; */
  padding: 4cap;
  left: 500px;
  border-radius: 10px;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-style: normal;
  border: none;
  box-shadow: 0 4px 6px #d89819;
}

/* .con{
  margin-right: 160px;
  font-weight: bold;
} */

.title{
  margin-top: 10px;
}

.dai{
  /* padding: 9px; */
  width: 50px;
  height: 30px;
  gap: 40px;
  border-radius: 10px;
  margin-top: 10px;
}

.yes{
  background-color: green;
  margin-right: 10px;
}

.no{
  background-color: red;
}


  
  /* tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  /* .delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  .backbtn{
    width: 70px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: whitesmoke;
    margin-top: 25px;
    background-color: rgb(43, 6, 78);
  }
   */
